#sidebar-wrapper {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  color: #555555;
  border-right: 1px solid #BBBBBB; }

#close-menu-btn {
  position: absolute;
  top: 1em;
  right: 1em; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 30px; }

.sidebar-nav > .sidebar-brand {
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  color: #353535; }

.sidebar-nav fieldset {
  margin: 20px 0; }

.sidebar-nav legend {
  margin-bottom: 10px;
  color: #676767 !important;
  background-color: #F4F4F4;
  border-top: 1px solid #E4E4E4; }

.sidebar-nav form input[type="submit"] {
  margin-left: 20px; }

/*fix bootstrap*/
input[type="checkbox"] {
  position: static !important; }

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin-left: 0 !important; }

.checkbox {
  font-weight: 400;
  display: block; }

#schoolTypes label {
  margin-left: 20px; }

.nav-tabs li {
  text-indent: 0 !important; }

.nav-tabs .glyphicon {
  margin-left: 6px; }

.nav-tabs > .disabled > a:hover {
  border: 1px solid transparent; }

/* make things responsive */
@media screen and (min-width: 600px) and (max-width: 900px) {
  #sidebar-wrapper {
    width: 50%; } }

@media screen and (min-width: 400px) and (max-width: 600px) {
  #sidebar-wrapper {
    width: 75%; } }

@media screen and (min-width: 320px) and (max-width: 400px) {
  #sidebar-wrapper {
    width: 100%; } }

#results-container {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 10;
  padding: 1em;
  background-color: #fff;
  border-left: 1px solid #BBBBBB;
  display: none; }

#close-results-btn {
  position: absolute;
  top: 1em;
  right: 1em; }

@media screen and (min-width: 600px) and (max-width: 900px) {
  #results-container {
    width: 50%; } }

@media screen and (min-width: 400px) and (max-width: 600px) {
  #results-container {
    width: 75%; } }

@media screen and (min-width: 320px) and (max-width: 400px) {
  #results-container {
    width: 100%; } }

/** general styles */
a:hover {
  text-decoration: none; }

/** style for Google Map */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

#map {
  height: 100%;
  width: 100%; }

#search-bar {
  position: absolute;
  left: 2em;
  top: 3.5em; }

#menu-toggler {
  z-index: 8; }

#legend {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  background: #fff;
  padding: 1em;
  border-top: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB; }

.info-icon {
  width: 16px;
  height: 16px; }

.info-btn, .btn-xs {
  padding: 0 !important;
  width: 20px;
  height: 20px; }

#info-title {
  float: left; }

#edit-btn {
  float: left;
  margin-top: 8px;
  margin-left: 6px; }

#star-icon, #info_particularites {
  float: left; }

@media screen and (max-width: 400px) {
  #search-bar {
    left: 5px;
    top: 5px; } }

/*# sourceMappingURL=style.css.map */