
{% load bootstrap3 %}

<form action="" method="post" class="form form-horizontal" id="ajouter_form">
    {% csrf_token %}

            <div class="form-title-row">
                <h4>Ajouter une école</h4>
            </div>

            <!-- nom -->
            <div class="form-group">
			    <label for="c_nom" class="col-xs-4 control-label">Nom</label>
			    <div class="col-xs-7">
			      <input type="text" class="form-control" id="c_nom" name="nom">
			    </div>
			</div>

            <!-- ville -->
            <div class="form-group">
			    <label for="c_ville" class="col-xs-4 control-label">Ville</label>
			    <div class="col-xs-7">
			      <input type="text" class="form-control" id="c_ville" name="ville">
			    </div>
			</div>

			<!-- Adresse -->
			<div class="form-group">
			    <label for="c_adresse" class="col-xs-4 control-label">Adresse</label>
			    <div class="col-xs-7">
			      	<input type="text" list="adresse_suggestions" class="form-control  addr_add" id="c_adresse" name="adresse">
			    </div>
			</div>

            <!-- type -->
            <div class="form-group">
			    <label for="c_type" class="col-xs-4 control-label">Type</label>
			    <div class="col-xs-7">
			      <select class="form-control" id="c_type" name="type">
                        <option>Université (U)</option>
                        <option>IUT</option>
                        <option>École d'ingénieurs (EI)</option>
                        <option>École de commerce (EC)</option>
                    </select>
			    </div>
			</div>

            <!-- programmes -->
            <div class="form-group">
			    <label for="c_programmes" class="col-xs-4 control-label">Programmes</label>
			    <div class="col-xs-7">
			      <input type="text" class="form-control" id="c_programmes" name="programmes" placeholder="xxxx,xxxx,...">
			    </div>
			</div>

            <!-- particularites -->
            <div class="form-group">
			    <label for="c_particularites" class="col-xs-4 control-label">Particularités </label>
			    <div class="col-xs-7">
			      <textarea id="c_particularites" class="form-control" name="particularites" rows="3"></textarea>
			    </div>
			</div>


			<div class="form-group">
				<label class="switch control-label">
				  	<input type="checkbox" id="c_visite" name="visite" value="visite">
				  	<div class="slider round"></div>
				  	<p id="visite-label">Visitée?</p>
				</label>	
			</div>

            <div class="form-row">
                <button type="submit" class="btn btn-info">Créer</button>
            </div>
</form>


