{% extends '_layout.html' %}
{% load staticfiles %}

{% block search_results %}{% endblock %}

{% block content %}
    <!-- search results div -->
    <div id="results-container">
        <button id="close-results-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        <h1></h1>
        <ul id="results-list" class="list-group">
        </ul>
    </div>

    <div class="info-div"></div>

    <div id="map"></div>

    <script>
        var markers = [];
        function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 47.081012, lng: 2.3522219},
          zoom: 6
        });
        var infowindow = new google.maps.InfoWindow({
            content: ""
          });
        map.set('styles',
        [
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#444444"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 45
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#46bcec"
                    },
                    {
                        "visibility": "on"
                    }
                    ]
                }
            ]);
        $(".info-div").hide();
        $.ajax({
            url: "../../static/carte_interactive/json/data.json",
            success: function (data) {
                var ecole_data = JSON.parse(data);
                ecole_data.forEach(function(ecole) {
                    var marker_icon = "../../static/carte_interactive/img/marker_" + ecole.fields.type_ecole + ".png";
                    var myLatLng = new google.maps.LatLng(ecole.fields.latitude,ecole.fields.longitude);
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        animation: google.maps.Animation.DROP,
                        map: map,
                        icon: marker_icon,
                        title: ecole.fields.nom,
                        ville: ecole.fields.ville,
                        type: ecole.fields.type_ecole,
                        codes: ecole.fields.programmes
                      });
                    marker.setMap(map);
                    markers.push(marker);
                    var wasClicked = false;
                    google.maps.event.addListener(marker, 'mouseover', function(e) {
                        var div = $(".info-div");
                        div.empty();
                        div.append("<h4>" + marker.title + " (" + marker.ville + ")</h4>");
                        div.append("<p>Programmes: " + marker.codes + "</p>");
                        infowindow.setContent(div.html());
                        infowindow.open(map,marker);
                    });

                    google.maps.event.addListener(marker, 'click', function(e) {
                        wasClicked = true;
                    });
                    google.maps.event.addListener(marker, 'mouseout', function(e) {
                        if(!wasClicked)
                            infowindow.close(map,marker);
                    });
                });
            }
        });
        }
    </script>
{% endblock %}

{% block mapscript %}
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6I1N0Pdzsubd3d2EJQkKUTyglIBrwloQ&callback=initMap">
    </script>
{% endblock %}
