
{% extends '_layout.html' %}
{% load staticfiles %}

{% block content %}
    
    <!-- search results div -->
    <div id="results-container">
        <button id="close-results-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        <h1></h1>
        <ul id="results-list" class="list-group">
        </ul>
    </div>

    <div class="info-div"></div>
    <div id="map"></div>
    <div id="legend"></div>

    <script>
        var map;
        var infowindow;
        var markers = [];
        var geocoder;
        var iconBase = '../../static/carte_interactive/img/marker_';
        var icons = {
          U:    { icon: iconBase + 'U.png' },
          IUT:  { icon: iconBase + 'IUT.png' },
          EI:   { icon: iconBase + 'EI.png' },
          EC:   { icon: iconBase + 'EC.png' }
        };
        function initMap() {
        geocoder = new google.maps.Geocoder();
        var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
          center: {lat: 47.081012, lng: 2.3522219},
          zoom: 6
        });
        infowindow = new google.maps.InfoWindow({
            content: ""
          });

        map.set('styles',
        [
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#444444"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 45
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#46bcec"
                    },
                    {
                        "visibility": "on"
                    }
                    ]
                }
            ]);

        $(".info-div").hide();
        $.ajax({
            url: "../../static/carte_interactive/json/data.json",
            success: function (data) {
                var ecole_data = JSON.parse(data);
                ecole_data.forEach(function(ecole) {
                    createMarker(ecole.fields, ecole.pk);
                });

                /**
                *  Légende
                */
                var legend = $("#legend");
                for (var type in icons) {
                    var type = type;
                    var icon = icons[type].icon;
                    var div = document.createElement('div');
                    div.innerHTML = '<img src="' + icon + '" style="width: 24px; height: 24px;"> ' + type;
                    legend.append(div);
                }
            }
        });

        }

        function createMarker(ecole_data, pk) {
            if(ecole_data.type.indexOf('(') == -1)
                var marker_icon = icons[ecole_data.type].icon;
            else
                var marker_icon = icons[get_substring(ecole_data.type, '(', ')')].icon;

            var myLatLng = new google.maps.LatLng(ecole_data.latitude, ecole_data.longitude);
            var marker = new google.maps.Marker({
                position: myLatLng,
                animation: google.maps.Animation.DROP,
                icon: marker_icon,
                nom: ecole_data.nom,
                ville: ecole_data.ville,
                type: ecole_data.type,
                programmes: ecole_data.programmes,
                particularites: ecole_data.particularites,
                pk: pk
            });
            marker.setMap(map);
            markers.push(marker);
            var wasClicked = false;

            google.maps.event.addListener(marker, 'mouseover', function(e) {
                var div = createInfoDiv(marker);
                infowindow.setContent(div.html());
                infowindow.open(map,marker);
            });

            google.maps.event.addListener(marker, 'click', function(e) {
                wasClicked = true;
            });
            google.maps.event.addListener(marker, 'mouseout', function(e) {
                if(!wasClicked)
                    infowindow.close();
            });
        }

        function createMarkerFromFormData() {
            var ecole_data = {};
            var inputs = $('#ajouter_form').serializeArray();
            $.each(inputs, function (i, input) {
                ecole_data[input.name] = input.value;
            });
            createMarker(ecole_data);
        }

        function createInfoDiv(marker) {
            var div = $(".info-div");
            div.empty();
            div.append("<h4 id=\"info-title\">" + marker.nom + " (" + marker.ville + ")</h4>");
            div.append('<button id="edit-btn" onclick="javascript:openEditTab()" type="button" class="info-btn btn btn-xs btn-warning">&#9998;</button>');
            div.append("<p id=\"info_programmes\">Programmes: " + marker.programmes + "</p>");
            div.append("<span id=\"pk-data\" data-pk=\"" + marker.pk + "\"></span>");
            if(marker.particularites) {
                div.append("<span style=\"color: #0BE613\" class=\"glyphicon glyphicon-star-empty\"></span><p id=\"info_particularites\">" +
                            marker.particularites + "</p>");
            }
            return div;
        }

        function get_substring(str, start, end) {
            return str.substring(str.lastIndexOf(start)+1,str.lastIndexOf(end));
        }
    </script>

{% endblock %}

{% block mapscript %}
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6I1N0Pdzsubd3d2EJQkKUTyglIBrwloQ&callback=initMap">
    </script>
{% endblock %}
