{% extends '_layout.html' %}
{% load staticfiles %}

{% block content %}
    <div id="map"></div>
    <!--<script type=text/javascript" src="{% static 'carte_interactive/js/googleMap.js' %}"></script>-->
    <script>
        var markers = [];
        function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 47.081012, lng: 2.3522219},
          zoom: 6
        });
        map.set('styles',
        [
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#444444"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 45
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#46bcec"
                    },
                    {
                        "visibility": "on"
                    }
                    ]
                }
            ]);
        $.ajax({
            url: "../../static/carte_interactive/json/data.json",
            success: function (data) {
                //var marker_icon = "../../static/carte_interactive/img/marker.png"
                var marker_icon = "../../static/carte_interactive/img/marker_EC.png"
                var ecole_data = JSON.parse(data);
                ecole_data.forEach(function(ecole) {
                    var myLatLng = new google.maps.LatLng(ecole.fields.latitude,ecole.fields.longitude);
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        animation: google.maps.Animation.DROP,
                        map: map,
                        icon: marker_icon,
                        title: ecole.fields.nom,
                        type: ecole.fields.type_ecole,
                        codes: ecole.fields.programmes
                      });
                    marker.setMap(map);
                    markers.push(marker);
                });
            }
        });
        }
    </script>
{% endblock %}

{% block mapscript %}
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6I1N0Pdzsubd3d2EJQkKUTyglIBrwloQ&callback=initMap">
    </script>
{% endblock %}
