
{% load bootstrap3 %}

<form action="" method="post" class="form form-horizontal" id="editer_form">
    {% csrf_token %}

            <div class="form-title-row">
                <h4>Éditer l'école</h4>
            </div>

            <!-- numéro distinct par école -->
            <div class="form-group" style="display: none">
			    <label for="c_pk" class="col-xs-4 control-label"># ecole</label>
			    <div class="col-xs-2">
			      <input type="text" class="form-control" id="c_pk" name="pk">
			    </div>
			</div>

			<!-- Nom -->
            <div class="form-group">
			    <label for="c_nom" class="col-xs-4 control-label">Nom</label>
			    <div class="col-xs-7">
			      <input type="text" class="form-control" id="c_nom" name="nom">
			    </div>
			</div>

			<!-- Ville -->
            <div class="form-group">
			    <label for="c_ville" class="col-xs-4 control-label">Ville</label>
			    <div class="col-xs-7">
			      <input type="text" class="form-control" id="c_ville" name="ville">
			    </div>
			</div>

			<!-- Adresse -->
			<div class="form-group">
			    <label for="c_adresse" class="col-xs-4 control-label">Adresse</label>
			    <div class="col-xs-7">
			      <input type="text" list="adresse_suggestions" class="form-control addr_edit" id="c_adresse" name="adresse">
			    </div>
			</div>

			<!-- Type -->
            <div class="form-group">
			    <label for="c_type" class="col-xs-4 control-label">Type</label>
			    <div class="col-xs-7">
			      <select class="form-control" id="c_type" name="type">
                        <option value="U">Université (U)</option>
                        <option value="IUT">IUT</option>
                        <option value="EI">École d'ingénieurs (EI)</option>
                        <option value="EC">École de commerce (EC)</option>
                    </select>
			    </div>
			</div>

			<!-- Programmes -->
            <div class="form-group">
			    <label for="c_programmes" class="col-xs-4 control-label">Programmes</label>
			    <div class="col-xs-7">
			      <input type="text" class="form-control" id="c_programmes" name="programmes">
			    </div>
			</div>

			<!-- url -->
            <div class="form-group">
			    <label for="c_programmes" class="col-xs-4 control-label">Url</label>
			    <div class="col-xs-7">
			    	<div class="input-group">
						<span id="http_marker" type="button" class="input-group-addon">http://</span>
						<input type="text" class="form-control" id="c_url" name="url" placeholder="www.monuniversité.com">
				    </div>
			    </div>
			</div>

			<!-- Particularités -->
            <div class="form-group">
			    <label for="c_particularites" class="col-xs-4 control-label">Particularités </label>
			    <div class="col-xs-7">
			      <textarea id="c_particularites" class="form-control" rows="3" name="particularites"></textarea>
			    </div>
			</div>

			<div class="form-group">
				<label class="switch control-label" style="margin-left: 30px; float: left;">
				  	<input type="checkbox" id="c_visite" name="visite" value="visite">
				  	<div class="slider round"></div>
				  	<p id="visite-label">Visitée?</p>
				</label>	
			</div>

            <div class="form-row">
                <button type="submit" class="btn btn-info">Éditer</button>
            </div>

        </form>
    </div>
</form>


