
{% load bootstrap3 %}

<form action="" method="post" class="form form-horizontal" id="editer_form">
    {% csrf_token %}

            <div class="form-title-row">
                <h4>Éditer l'école</h4>
            </div>

            <!-- numéro distinct par école -->
            <div class="form-group">
			    <label for="c_pk" class="col-sm-3 control-label"># ecole</label>
			    <div class="col-sm-3">
			      <input type="text" class="form-control" id="c_pk" name="pk">
			    </div>
			</div>

			<!-- Nom -->
            <div class="form-group">
			    <label for="c_nom" class="col-sm-3 control-label">Nom</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="c_nom" name="nom">
			    </div>
			</div>

			<!-- Ville -->
            <div class="form-group">
			    <label for="c_ville" class="col-sm-3 control-label">Ville</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="c_ville" name="ville">
			    </div>
			</div>

			<!-- Adresse -->
			<div class="form-group">
			    <label for="c_adresse" class="col-sm-3 control-label">Adresse</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="c_adresse" name="adresse">
			    </div>
			</div>

			<!-- Type -->
            <div class="form-group">
			    <label for="c_type" class="col-sm-3 control-label">Type</label>
			    <div class="col-sm-8">
			      <select class="form-control" id="c_type" name="type">
                        <option>Université (U)</option>
                        <option>IUT</option>
                        <option>École d'ingénieurs (EI)</option>
                        <option>École de commerce (EC)</option>
                    </select>
			    </div>
			</div>

			<!-- Programmes -->
            <div class="form-group">
			    <label for="c_programmes" class="col-sm-3 control-label">Programmes</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="c_programmes" name="programmes">
			    </div>
			</div>

			<!-- Particularités -->
            <div class="form-group">
			    <label for="c_particularites" class="col-sm-3 control-label" style="margin-right: 5px !important">Particularités </label>
			    <div class="col-sm-8">
			      <textarea id="c_particularites" class="form-control" rows="3" name="particularites"></textarea>
			    </div>
			</div>

            <div class="form-row">
                <button type="submit" class="btn btn-info">Éditer</button>
            </div>

        </form>
    </div>
</form>


