

<form action="javascript:filterMarkers()" class="form">
  <fieldset id="codePrograms">
      <legend>Code de programme:</legend>
      <label class="checkbox-inline">
          <input class="filtre code_filtre" type="checkbox" value="1709"> 1709
        </label>
        <label class="checkbox-inline">
          <input class="filtre code_filtre" type="checkbox" value="3037"> 3037
        </label>
        <label class="checkbox-inline">
          <input class="filtre code_filtre" type="checkbox" value="3754"> 3754
        </label>
        <label class="checkbox-inline">
          <input class="filtre code_filtre" type="checkbox" value="6908"> 6908
        </label>
        <label class="checkbox-inline">
          <input class="filtre code_filtre" type="checkbox" value="7764"> 7764
        </label>
  </fieldset>
  <fieldset id="schoolTypes">
      <legend>Type d'école:</legend>
        <label class="checkbox">
          <input class="filtre type_filtre" type="checkbox" value="U"> Université
        </label>
        <label class="checkbox">
          <input class="filtre type_filtre" type="checkbox" value="IUT"> Institut universitaire technologique
        </label>
        <label class="checkbox">
          <input class="filtre type_filtre" type="checkbox" value="EI"> École d'ingénieurs
        </label>
        <label class="checkbox">
          <input class="filtre type_filtre" type="checkbox" value="EC"> École de commerce
        </label>
  </fieldset>
  <input type="submit" class="btn btn-info" value="Filtrer">
</form>

