
{% extends '_layout.html' %}
{% load staticfiles %}

{% block content %}
    
    <!-- search results div -->
    <div id="results-container" class="col-lg-4 col-md-5 col-sm-5 col-xs-11">
        <button id="close-results-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        <h1></h1>
        <ul id="results-list" class="list-group">
        </ul>
    </div>

    <div class="info-div"></div>
    <div id="map"></div>
    <div id="legend"></div>

{% endblock %}

{% block mapscript %}
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6I1N0Pdzsubd3d2EJQkKUTyglIBrwloQ&libraries=places">
    </script>
{% endblock %}
