{% load staticfiles %}

<!DOCTYPE html>
<html>
	<title>Carte interactive</title>

	<link rel="stylesheet" type="text/css" href="{% static 'carte_interactive/lib/bootstrap-3.3.6/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'carte_interactive/css/style.css' %}" />
	<!-- this script contains initMap which needs to be loaded at first -->
	<script type="text/javascript" src="{% static 'carte_interactive/js/googleMap.js' %}"></script>
</html>
<body onload="javascript:initMap()">

	{% include '_nav.html' %}
    {% include '_sidebar.html' %}

	{% block content %}{% endblock %}

	<script type="text/javascript" src="{% static 'carte_interactive/lib/jquery/jquery-1.12.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'carte_interactive/lib/jquery/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'carte_interactive/lib/bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'carte_interactive/js/interfaceCallbacks.js' %}"></script>
    <script type="text/javascript" src="{% static 'carte_interactive/js/ajaxFormHandling.js' %}"></script>
	<script type="text/javascript" src="{% static 'carte_interactive/js/csrf.js' %}"></script>
    
	<!-- GOOGLE MAPS JAVASCRIPT API -->
	{% block mapscript %} {% endblock %}


</body>
</html>
