<div id="search-bar" class="col-lg-4 col-md-5 col-sm-6 col-xs-10">
    <div class="input-group">
      <div class="input-group-btn">
        <button id="menu-toggler" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>

      <!-- search bar form -->
      <form action="javascript:search()" class="form">
          <input id="search_input" type="text" class="form-control" placeholder="Rechercher..." aria-label="search">
          <div class="input-group-btn">
             <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span>
             </button>
             <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                    <li><a href="#">Déconnexion</a></li>
                  {% else %}
                    <li><a href="#">Connexion</a></li>
                  {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="#">Paramètres</a></li>
             </ul>
          </div>
      </form>

    </div>
</div>
