<div id="search-bar" class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
    <div class="input-group">
      <div class="input-group-btn">
        <button id="menu-toggler" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>

      <!-- search bar -->
      <input id="search_input" type="text" class="form-control" placeholder="Rechercher..." aria-label="search">
      <div class="input-group-btn">
         <button type="submit" class="btn btn-info" onclick="javascript:search()"><span class="glyphicon glyphicon-search"></span></button>
         <button type="button" class="btn btn-default">
            <a id="logout-btn" href="{% url 'carte_interactive:logout' %}"><span class="glyphicon glyphicon-off"></span></a>
         </button>
         
      </div>
    </div>
</div>
