
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <h2>Carte interactive</h2>
            <button id="close-menu-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span></button>
        </li>
        <hr />

        <ul id="sidebar-nav-pills" class="nav nav-tabs">
          <li id="nav-pill-filtrer" role="presentation" class="sidebar-tab active"><a href="javascript:void(0)">Filtrer<span class="glyphicon glyphicon-th-list"></span></a></li>
          <li id="nav-pill-ajouter" role="presentation" class="sidebar-tab"><a href="javascript:vois(0)">Ajouter<span class="glyphicon glyphicon-plus"></span></a></li>
          <li id="nav-pill-editer" role="presentation" class="sidebar-tab disabled"><a href="javascript:void(0)">Éditer<span class="glyphicon glyphicon-pencil"></span></a></li>
        </ul>

        <!-- filter content -->
        <li id="sidebar-content-filtrer" class="sidebar-content">
            {% include 'carte_interactive/filtrer_ecoles.html' %}
        </li>


        <!-- create Ecole content -->
        <li id="sidebar-content-ajouter" class="sidebar-content">
          {% include 'carte_interactive/ajouter_ecole.html' %}
        </li>
        

        <!-- edit Ecole content -->
        <li id="sidebar-content-editer" class="sidebar-content">
            {% include 'carte_interactive/editer_ecole.html' %}
        </li>


    </ul>
</div>
<!-- /#sidebar-wrapper -->

