
<!-- Sidebar -->
<div id="sidebar-wrapper" class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
    <ul class="sidebar-nav col-lg-12">
        <li class="sidebar-brand">
            <h2 id="sidebar-title" class="col-lg-10 col-xs-10">Carte interactive</h2>
            <button id="close-menu-btn" type="button" class="btn btn-default col-lg-1 col-xs-1"><span class="glyphicon glyphicon-menu-left"></span></button>
        </li>
        <hr />

        <ul id="sidebar-nav-pills" class="nav nav-tabs">
            <!-- Filtrer -->
            <li id="nav-pill-filtrer" role="presentation" class="sidebar-tab active"><a href="javascript:void(0)">Filtrer<span class="glyphicon glyphicon-th-list"></span></a></li>
        </ul>

        <!-- filter content -->
        <li id="sidebar-content-filtrer" class="sidebar-content">
            {% include 'carte_interactive/filtrer_ecoles.html' %}
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

