
#sidebar-wrapper {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    color: #555555;
    border-right: 1px solid #BBBBBB;
}


#close-menu-btn {
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}


.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 40px;
    color: #353535;
}


.sidebar-nav fieldset {
    margin: 20px 0;
}

.sidebar-nav legend {
    margin-bottom: 10px;
    color: #676767 !important;
    background-color: #F4F4F4;
    border-top: 1px solid #E4E4E4;
}

.sidebar-nav form input[type="submit"] {
    margin-left: 20px;
}

/*fix bootstrap*/

input[type="checkbox"] {
    position: static !important;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left: 0 !important;
}
.checkbox {
    font-weight: 400;
    display: block;
}
#schoolTypes label {
    margin-left: 20px;
}
.nav-tabs li {
    text-indent: 0 !important;
}

.nav-tabs .glyphicon {
    margin-left: 6px;
}

.nav-tabs>.disabled>a:hover {
    border: 1px solid transparent;
}

/* make things responsive */
@media screen and (min-width:600px) and (max-width:900px){
   #sidebar-wrapper {
        width: 50%;
   }
}
@media screen and (min-width:400px) and (max-width:600px){
   #sidebar-wrapper {
        width: 75%;
   }
}
@media screen and (min-width:320px) and (max-width:400px){
   #sidebar-wrapper {
        width: 100%;
   }
}