
$sidebar-width: 400px;

#sidebar-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    width: $sidebar-width;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    transition: all 0.5s ease;
    color: #555555;
    border-right: 1px solid #BBBBBB;
}

#sidebar-wrapper.toggled {
    left: 0;
}

#close-menu-btn {
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}


.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 40px;
    color: #353535;
}


.sidebar-nav fieldset {
    margin: 20px 0;
}

.sidebar-nav legend {
    margin-bottom: 10px;
    color: #676767 !important;
    background-color: #F4F4F4;
    border-top: 1px solid #E4E4E4;
}

.sidebar-nav form input[type="submit"] {
    margin-left: 20px;
}

/*fix bootstrap*/

input[type="checkbox"] {
    position: static !important;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left: 0 !important;
}
.checkbox {
    font-weight: 400;
    display: block;
}
#schoolTypes label {
    margin-left: 20px;
}
.nav-tabs li {
    text-indent: 0 !important;
}

.nav-tabs .glyphicon {
    margin-left: 6px;
}

.nav-tabs>li.disabled>a:hover {
    border: 1px solid transparent;
}
