@import "simple-sidebar.scss";
@import "search_results.scss";
/** general styles */
a:hover {
    text-decoration: none;
}

/** style for Google Map */
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
#map { height: 100%; width: 100% }

#search-bar {
    position: absolute;
    left: 2em;
    top: 3.5em;
}

#menu-toggler {
    z-index: 8;
}
