@import "simple-sidebar.scss";
@import "search_results.scss";
/** general styles */
a:hover {
    text-decoration: none;
}

/** style for Google Map */
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
#map { height: 100%; width: 100% }

#search-bar {
    position: absolute;
    left: 2em;
    top: 3.5em;
}

#menu-toggler {
    z-index: 8;
}

#legend {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    background: #fff;
    padding: 1em;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
}

.info-icon {
    width: 16px;
    height: 16px;
}
.info-btn, .btn-xs {
    padding: 0 !important;
    width: 20px;
    height: 20px;
}
#info-title {
    float: left;
}
#edit-btn {
    float: left;
    margin-top: 8px;
    margin-left: 6px;
}

#star-icon, #info_particularites {
    float: left;
}

